{% extends "main.html" %}
{% block title %}Results{% endblock %}

{% block message %}
    <hr />
    <h4 class="text-center">MESSAGE</h4>
    <p class="text-center"><i>{{query}}</i></p>
{% endblock %}

{% block content %}
    <h1 class="text-center">Result</h1>
    <div class="container-fluid ml-2">
    {% for category, classification in classification_result.items() %}
        {% if (loop.index0 % 6) == 0 %}
            <div class="row align-items-center">
        {% endif %}
            {% if classification == 1 %}
            <div class="col list-group-item-success text-center">{{category.replace('_', ' ').title()}}</div>
            {% else %}
            <div class="col list-group-item-dark text-center">{{category.replace('_', ' ').title()}}</div>
            {% endif %}

        {% if (loop.index0 % 6) == 5 %}
            </div>
        {% endif %}
    {% endfor %}
    </div>

{% endblock %}
